<form method="get" action="/" id="filterForm" name="filterForm">
	<div class="input-group">
		<span class="input-group-text">First and last name</span>
		<input type="text" aria-label="First name" class="form-control" id="firstName">
		<input type="text" aria-label="Last name" class="form-control" id="lastName">
	</div>
	
	<div class="input-group mb-3">
		<span class="input-group-text">BookName</span>
		<input type="text" id="bookName" class="form-control" aria-label="Sizing BookName input" aria-describedby="bookName">
	</div>

	<div class="input-group mb-3">
		<span class="input-group-text" >BookYear</span>
		<input type="text" id="bookYear" class="form-control" aria-label="Sizing BookYear input" aria-describedby="bookYear">
	</div>
	
	<div class="input-group mb-3">
		<span class="input-group-text" >Direction</span>
		<input type="text" id="direction" class="form-control" aria-label="Sizing SearchText input" aria-describedby="bookYear">
	</div>

	<button type="submit" id="filterSubmit" class="btn btn-primary">Apply</button>
</form>