<div class="row">
	<div class="col-4">
		<partial name="_BooksFilterPartial" />
	</div>
	<div class="col-8">
		<div class="row row-cols-2 row-cols-md-3 g-4" id="bookList"></div>
	</div>
</div>

@section Scripts
{
	<script src="~/js/Books/BookList.js"></script>
}